extends base.pug

block scripts
    script(src='../static/index.js')


block style 
    style 
        include ../static/style.css 
        //- include ../static/contact.css 

block content
    
    section#introsection
        div THE DANCE ACADEMY 
        div.slogan EAT SLEEP DANCE REPEAT  

    section#missionsection
        h2 Our Mission
        div.cards
        h3  Dance Perfection
            img(src="../static/stock/2.png", alt="")
            div.cont 
                p We are known for perfection.
        h3 Dance the way you Like
            img(src="../static/stock/3.png", alt="" class="hui")
            div.cont 
            p All dance teacher available.
        h3 Expert Teaching
            img(src="../static/stock/4.png", alt="")
            div.cont 
            p The best Teaching Staff in universe.

    section#Sponsorsection
        h2 Our Sponsors
        div#sponsor
            img(src="../static/stock/s2.png", alt="" class="spnsr")
            img(src="../static/stock/s3.png", alt="" class="spnsr")
            img(src="../static/stock/s4.png", alt="" class="spnsr")
            img(src="../static/stock/s5.png", alt="" class="spnsr")

